@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* common css */
/* font family */
/* font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */
.btn{
    background-color: #30b868;
    width: 164px;
    height: 44px;
    padding: 16px 12px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    height: 92px;
    background-color:  rgba(255, 255, 255, 1);
    align-items: center;
    padding: 16px 120px;

}
nav ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: #000000;
    opacity: 0.9px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
}